<?xml version='1.0' encoding='utf-8'?>
<widget id="com.saewitz.twenty48" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>twenty48</name>
    <description>
        A game.
    </description>
    <author email="hi@saewitz.com" href="http://saewitz.com">
        Daniel Saewitz
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <icon gap:platform="ios" height="57" src="icon.png" width="57" />
    <icon gap:platform="ios" height="72" src="icon-72.png" width="72" />
</widget>
