<?xml version='1.0' encoding='utf-8'?>
<widget id="com.saewitz.twenty48" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>twenty48</name>
    <description>
        A game.
    </description>
    <author email="hi@saewitz.com" href="http://saewitz.com">
        Daniel Saewitz
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <icon src="57.png" width="57" height="57" gap:platform="ios" />
    <icon src="72.png" width="72" height="72" gap:platform="ios" />
    <icon src="114.png" width="114" height="114" gap:platform="ios" />
    <icon src="144.png" width="144" height="144" gap:platform="ios" />
</widget>
